#hidden{
  display:none;
}

.col-md-6, .col-md-4 {
  margin: 3%;
}

h2 {
  width: 25%;
  padding-left: 25px
}

.jumbotron p {
  padding: 20px 20px;
}

.btn {
  margin-top: 25px;
}

.panel-title{
  font-size: 35px;
  width: 61%;
}

h3.panel-title:hover{
  text-decoration: underline;
  cursor: progress;
}

.panel-body{
  font-family: 'Josefin Sans', sans-serif;
  color: Red;
  font-size: 36px;
}
